*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --main-background:#0f172a;
    --text-color: #1d4ed8;
    --nav-background:#0369a1;
}

body{
    background-color: var(--main-background);
    color:var(--nav-background);
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    justify-content: center;
    align-items: center;
    gap:35px;
    border: 1px solid blue;
}

h1{
    color: var(--text-color);
}

button{
    width: 100%;
    padding: 12px;
    color: var(--nav-background);
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

main{
    padding: 50vh;
}

label{
    margin-bottom: 10px;

}

form{
    margin-bottom: 16px;
}

button :hover{
    color: var(--nav-background);
}

